.button-user-notifications {

    height: 38px;
    margin-right: 5px;

    .badge {
        top: -2;
        padding: 4px 6px 4px 6px;
        margin-left: 3px;
        color: #2196f3;
        background-color: white;

        font-weight: bold;
    }

    .fa {
        font-size: 18px;
        line-height: 24px;
    }

    .fa.active {
        color: #ff9800;

    }

}