.button-user-notifications {

    height: 38px;
    margin-right: 5px;

    .badge {
        top: -2;
        padding: 4px 6px 4px 6px;
        margin-left: 3px;
        color: #2196f3;
        background-color: white;

        font-weight: bold;
    }

    .fa {
        font-size: 18px;
        line-height: 24px;
    }

    .fa.active {
        color: #ff9800;

    }

}

.button-user-notifications-notification {

    padding: 6px;
    padding-bottom: 10px;

    &.unread {
        background-color: #58A6E6 + 95%;
    }


    .actions {
        padding-top: 5px;

        .btn {
            padding-top: 0;
            padding-bottom: 0;

            .fa {
                margin-right: 10px;
            }
        }
    }

    .user-avatar {
        float: left;
        padding-right: 5px;
    }

}