.footer {
    position: absolute;
    bottom: 0;

    padding-top: 5px;
    width: 100%;
    height: footer-height;

    color: #007457;
    background-color: #4de6c4; //##58A6E6 //#4EE9AB //#6966EA
    border-color: transparent;

    -webkit-box-shadow: 0px -1px 2px rgba(0,0,0, 0.3);
    -moz-box-shadow:    0px -1px 2px rgba(0,0,0, 0.3);
    box-shadow:         0px -1px 2px rgba(0,0,0, 0.3);

    .content {
        font-size: 15px;
    }
}