.footer {
    position: absolute;
    bottom: 0;

    padding-top: 5px;
    width: 100%;
    height: footer-height;

    color: #AAD8FF;
    background-color: #2925FF; //##58A6E6 //#4EE9AB //#6966EA //#55ffdc
    border-color: transparent;

    box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.3);

    a {
        color: #FFC000;
    }

    .content {
        font-size: 15px;
    }

    .share-this {
        padding-top: 10px;

        [id^=___plusone] {
            width:72px !important;
        }
    }
}