.form-save-recipe {

    .input-description {
        min-height: 38px;
        width: 100%;
    }

    .action-buttons {
        margin-top: 20px;
    }

        .editor {
            p {
                margin-bottom: 3px;
            }
        }

}