.imageable-edit {

    .thumbnail {
        &.deleting {
            border-color: red;
        }

        img {
            margin-top: 8px;
            border-radius: 5px;
        }

        .caption {
            text-align: center;

            p {
                margin-bottom: 0;
            }
        }
    }

}