.list-oils-selector {
    ul {
        overflow-y: auto;

        li {
            &:hover {
                cursor: pointer;
                background-color: #ebebeb;
            }

            &.selected {
                background-color: #f2f2f2;
            }
        }
    }
}