.list-oils-recipe {

    td.value {
        min-width: 83px;

        .short-numeric {
            width: 50px !important;
        }
    }

    .unit {
        color: #aeaeae;
        padding-left: 5px;
    }
}