.list-oils-selector {
    .oils-container {
        overflow-y: auto;

        td {
            &:hover {
                cursor: pointer;
                background-color: #ebebeb;
            }

            &.selected {
                background-color: #d5edf2;
            }
        }
    }
}