.recipe-fatty-acids
    .property-cell
        position relative

        .tooltip-question
            position absolute
            top 0
            left 75px

            @media screen and (min-width: 768px) and (max-width: 992px)
                left 65px
