.recipe-list-item {

    padding-bottom: 15px;

    .user-avatar {
        float: right;
    }

    .recipe-name {
        font-size: 20px;
    }

    .iodine {
        padding-right: 10px;
    }

    .properties, .fats, .oils {

        li {
            float: left;
            padding-right: 10px;
        }
    }

}