.recipe-list-item {

    padding-bottom: 20px;

    .recipe-name {
        font-size: 20px;
    }

    .user-avatar {
        display: inline-block;
    }

    .description {
        padding: 5px;
        border: 1px solid #ebebeb;
        border-radius: 2px;
    }

    .iodine {
        padding-right: 10px;
    }

    .properties, .fats {

        li {
            float: left;
            padding-right: 10px;
        }
    }

}