.sap-calculator {

    .list-oils-selector {
        ul {
            height: 330px;
            max-height: 330px;
        }
    }

    .properties-oil, .recipe-oils-container {
        height: 374px;
        max-height: 374px;
        overflow-y: auto;
    }

    .recipe-oils {
        input {
            height: 25px;
        }
    }

}