.sap-calculator {

    .list-oils-selector {
        .oils-container {
            height: 250px;
            max-height: 250px;
        }
    }

    .properties-oil, .recipe-oils-container {
        max-height: 285px;
        overflow-y: auto;
    }

    .recipe-oils {
        input {
            height: 25px;
        }
    }

}