.share-this {
    display: table;

    .t-cell {
        padding-left: 10px;
        vertical-align: top;

        .btn-pinterest {
            background-color: #bd081c;
        }

        .btn-reddit {
            background-color: #ff5700;
        }

    }
}