.share-this {
    display: table;

    .t-cell {
        .st_fblike_large  {
            padding-left: 20px;
            & > span {
                vertical-align: top !important;
            }
        }
    }
}