#application {


    .t-cell {
        display: table-cell;
    }
    .t-row {
        display: table-row;
    }
    .truncate {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}