#application {

    button.btn-xxs {
        padding: 1px 5px;
        font-size: 10px;
    }

    input.short-numeric {
        height: 25px;
        width: 60px;
    }

    table.table-super-condensed {
        td {
            padding-top: 2px;
            padding-bottom: 2px;
        }
    }

    .t-table {
        display: table;
    }

    .t-cell {
        display: table-cell;
    }

    .t-row {
        display: table-row;
    }

    .truncate {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .no-select {
        -webkit-user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -ms-user-select: none;
    }

    #application-view > .container {
        padding-bottom: 20px;
    }

    .strike {
        position: relative;

        border-bottom: 1px #ddd solid;
        height: 20px;

        margin-bottom: 20px;

        .or {
            position: absolute;
            left: 45%;
            top: 7px;

            padding: 0 3px;

            background-color: #f9f9f9;
        }

    }

}