#my-status-updates {

    .markdown-editor {
        textarea {
            width: 50%;
        }
    }

    .add-status-update {
        padding-bottom: 40px;
    }

    .status-update {
        margin-top: 10px;
        margin-bottom: 10px;

        padding: 3px;
        border: 1px solid silver + 50%;
        border-radius: 3px;

        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);

        p {
            margin-bottom: 5px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .actions {
        span {
            margin-left: 10px;
        }
    }

    .dropzone {
        margin-bottom: 20px;
    }

}