#recipes {

    h1 {
        font-size: 30px;
    }

    .marked-display {
        p {
            line-height: 17px;
            margin-bottom: 6px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}