#status-update {

    .status-update-content {
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 20px;
        border: 1px solid #eeeeee;
        border-radius: 3px;
    }

    .carousel {
        margin-bottom: 30px;
    }

}